<div id="<%= dom_id workout %>">
  <p>
    <strong>Equipment:</strong>
    <%= workout.equipment %>
  </p>

  <p>
    <strong>Focus:</strong>
    <%= workout.focus %>
  </p>

  <p>
    <%= workout.content %>
  </p>
</div>
