.workout-container {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid #FFF5EB;
    background-color: #FFEBD6;
    width: 75%;
    border-radius: 16px;
  }
