<div class="cta-container">
  <h1 class="cta-title">Your perfect workout, powered by AI</h1>
  <h2 class="cta-text-1">Get a workout plan built for you in seconds.</h2>
  <h2 class="cta-text-2">Start stronger today! 🦾</h2>
  <div class="btn-cta">
    <%= link_to "Ask AI", new_workout_path, class: "nav-link" %>
  </div>
</div>
